#ct {
    width: auto;
    height: 500px;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
}

#ct_image {
    width: auto;
    height: 400px;
}

#pg {
  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  background: #555555;
  -webkit-transition: opacity 0.0s ease;
  transition: opacity 0.0s ease;
}

#pg.finish {
  opacity: 0;
}